<div class="ui teal large menu">
  <a class="active item">
    Home
  </a>
  <a class="item" routerLink="/recipes">
    Recipies
  </a>
  <a class="item">
    Shopping List
  </a>

  <div class="right menu">
      <a class="item">
          <div class="ui teal basic button" routerLink="/recipes/add">Add Recipe</div>
        </a>
    <div class="item">
      <div class="ui transparent icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>
